[Unit]
Description=PulseAudio Sound System
After=syslog.target network.target

[Service]
UMask=077
ExecStart=/usr/bin/pulseaudio --system --daemonize=no --disallow-exit --disallow-module-loading
Restart=always

[Install]
WantedBy=multi-user.target
